<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.fastSellingDrinks.mapper.CouponInfoMapper">
  <resultMap id="BaseResultMap" type="com.nju.fastSellingDrinks.model.CouponInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="target_amount" jdbcType="DOUBLE" property="targetAmount" />
    <result column="discount_amount" jdbcType="DOUBLE" property="discountAmount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coupon_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nju.fastSellingDrinks.model.CouponInfo"
          useGeneratedKeys="true"
          keyProperty="id"
  >
    insert into coupon_info (id, description, target_amount, 
      discount_amount)
    values (#{id,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{targetAmount,jdbcType=DOUBLE}, 
      #{discountAmount,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nju.fastSellingDrinks.model.CouponInfo">
    update coupon_info
    set description = #{description,jdbcType=VARCHAR},
      target_amount = #{targetAmount,jdbcType=DOUBLE},
      discount_amount = #{discountAmount,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, description, target_amount, discount_amount
    from coupon_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, description, target_amount, discount_amount
    from coupon_info
  </select>
  <select id="selectByDescription" resultMap="BaseResultMap">
    select id, description, target_amount, discount_amount
    from coupon_info
    where description = #{description}
  </select>

</mapper>